<footer class="footer-container">
    <div class="footer-container-head"></div>
    <div class="footer-container-body">
        <div class="footer-container-info"></div>
        <div class="footer-container-info"></div>
        <div class="footer-container-info"></div>
        <div class="footer-container-info"></div>
        <div class="footer-container-info"></div>

    </div>

    <div class="footer-container-foot">
        <div class="footer-container-foot-box"> 

            <div class="footer-container-foot-copyright-box">
                <p class="footer-container__copyright">All rights reserved @ Company 2024</p>
            </div>

            <div class="footer-container-foot-terms-box">
                <p class="footer-container__terms">Temrs & conditions</p>
                <p class="footer-container__terms">Claim</p>
                <p class="footer-container__terms">Privat & Policy</p>
            </div>

        </div>
    </div>
</footer>