<div class="form-container">
        <div class="form-container-title-box">
            <h2 class="form-container__title">Contact for any inquiry</h2>
        </div>
        <form action="POST" class="form-contact">
            <input type="text" class="form-contact__name" placeholder="Enter your name">
            <input type="email" class="form-contact__email" placeholder="Enter your email">
            <input type="text" class="form-contact__service" placeholder="Selet service type">
            <input type="number" class="form-contact__phone" placeholder="Enter your phone number">
            <textarea placeholder="Enter message" class="form-contact__message" ></textarea>

            <input type="button" value="GET AN FREE SERVICE">
        </form>
</div>