<section class="about-container">

    <div class="about-container-header">
        <div class="about-container-header-box max-width-growth">
            <h2 class="about-container__title">Property</h2>
            <div class="about-container__direction"><span><img class="about-container__direction-home"
                        src="./assets/icon/house-solid.svg" alt="house icon" srcset=""></span>Home -> Property
                </div>
        </div>
    </div>


    <div class="property-filter-list-container max-width-growth">
        <app-property-list></app-property-list>
        <app-property-filter></app-property-filter>
    </div>
</section>