@import "/src/styles/variables.scss";

.container-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  height: 800px;
  max-height: 900px;
}

.container-hero__background {
  z-index: -1000;
  object-fit: cover;
  position: fixed;
  top: 0;
  filter: brightness(50%) contrast(90%) opacity(92%) saturate(110%);
  width: 100%;
  height: 100%;
}

.container-hero-info-box {
  // max-width: 660px;

  z-index: 1000;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-hero__subtitle,
.container-hero__title {
  margin: 0px;
  font-family: $font-family-title;
  text-align: center;
  font-weight: bold;
  z-index: 2000000;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(0, 0, 0, 0.3);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container-hero__subtitle {
  color: white;
  position: relative;
  font-size: $font-size-subtitle;
}

.container-hero__title {
  font-size: calc($font-size-bigtitle * 1.5);
  color: white;
  max-width: 1650px;


  span {
    color: $primary-color;
  }
}

app-search-property {
  position: absolute;
  top: 90%;
}



@media only screen and (max-width:768px) {
  app-search-property {
    top: 100%;
  }

  .container-hero-info-box {
    padding: 10px;
  }
}

@media only screen and (max-width:425px) {
  app-search-property {
    top: 110%;
  }

  .container-hero {
    height: 500px;
  }

  .container-hero-info-box {

    .container-hero__title {
      font-size: $font-size-bigtitle;
    }
  }
}

@media only screen and (max-width:375px) {
  .container-hero {
    height: 450px;
    max-height: 450px;
  }

  app-search-property {
    top: 100%;
  }
}