@import "/src/styles/variables.scss";

.footer-container {
    background-color: $secondary-color;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.footer-container-head {
    position: relative;
    display: flex;
    padding: 30px;
    top: -65px;
    background-color: $primary-color;
    height: 220px;
    max-width: 1220px;
    justify-content: center;
    align-items: center;
}

.footer-container-head__title,
.footer-container-head__subtitle {
    font-family: $font-family-title;
    margin: auto;
    margin-bottom: 20px;
    color:$text-color;
    margin-right: 150px;

}

.footer-container-head__subtitle {
    color: $text-color;
    font-size: $font-size-subtitle; 
    font-weight: 400;
}
.footer-container-head__title{
    font-size: $font-size-title;
}
.footer-container-head__button {
    margin-left: 35px;
    width: 155px;
    height: 60px;
    font-family: $font-family-subtitle;
    background-color: $secondary-color;
    color: $text-color;
    border: none;
    transition: all $animation-time ease-in;
    margin: auto;
}
.footer-container-head__button:hover{
    background-color: $primary-color-pressed;

}

.footer-container-body {
    display: flex;
    max-width: 1850px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 10px;

}

.footer-container-info {
    width: 350px;
    height: 500px;
    border: 1px solid white;
}

.footer-container-foot {
    width: 100%;
    background-color: gray;
    padding: 10px;

    .footer-container-foot-box {
        display: flex;
        justify-content: space-between;
        margin: auto;

        .footer-container-foot-terms-box {
            display: flex;
            gap: 15px;
        }
    }

}

@media only screen and (max-width:800px) {

    .footer-container-body {
        justify-content: center;
    }

    .footer-container-info {
        width: 300px;
    }
}

@media only screen and (max-width:750px) {
    .footer-container-head-title-subtitle {
        margin-right: 90px;

    }
}

@media only screen and (max-width:640px) {

    .footer-container-head-title-subtitle {
        text-align: center;
        margin: auto;
    }

    .footer-container-head {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -65px;
        background-color: orange;
        height: 250px;
        max-width: 320px;
    }
}