.footer-container {
    background-color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.footer-container-head-title-subtitle{
    margin-right: 200px;

}
.footer-container-head__button{
    width: 190px;
    height: 50px;
    margin: auto;
}

.footer-container-head {
    position: relative;
    display: flex;
    padding: 30px;
    top: -65px;
    background-color: orange;
    height: 150px;
    max-width: 920px;
}

.footer-container-body {
    background-color: green;
    display: flex;
    max-width: 1550px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 10px;

}

.footer-container-info {
    width: 250px;
    height: 500px;
    border: 1px solid white;
}

.footer-container-foot {
    width: 100%;
    background-color: gray;
    padding: 10px;

    .footer-container-foot-box {
        display: flex;
        justify-content: space-between;
        margin: auto;

        .footer-container-foot-terms-box {
            display: flex;
            gap: 15px;
        }
    }

}

@media only screen and (max-width:800px) {

    .footer-container-body {
        justify-content: center;
    }

    .footer-container-info {
        width: 300px;
    }
}

@media only screen and (max-width:750px) {
    .footer-container-head-title-subtitle{
        margin-right: 90px;
    
    }
}

@media only screen and (max-width:640px) {

    .footer-container-head-title-subtitle{
        text-align: center;
        margin: auto;
    }
    .footer-container-head {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -65px;
        background-color: orange;
        height: 250px;
        max-width: 320px;
    }
}