<footer class="footer-container">
    <div class="footer-container-head">
        <div class="footer-container-head-title-subtitle">
            <h2 class="footer-container-head__title">Looking for a dream home?</h2>
            <h4 class="footer-container-head__subtitle">We help you make the dream of new house a reality</h4>

        </div>

        <input routerLink="/property" class="footer-container-head__button" type="button" value="explore properties">

    </div>
    <div class="footer-container-body">
        <div class="footer-container-info">
            <div class="footer-container-info-img-description">
                <img src="../../../assets/logo.png" alt="logo real estate" class="container-info__logo">
                <p class="container-info__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
                    expedita?</p>


                <ul class="footer-container-icons-description-box">
                    <li class="footer-container-icons-item">
                        <span> 
                            <img src="../../../assets/icon/location.svg" alt="location footer Dominican Republic"
                                class="container-info__icon">
                               </span>
                        <p class="info-icons__description">Brooklyn, New York, United States</p>

                    </li>
                    <li class="footer-container-icons-item">
                        <span> <img src="../../../assets/icon/phone-solid.svg" alt="location footer Dominican Republic"
                                class="container-info__icon">
                        </span>
                        <p class="info-icons__description">+0123-456789</p>

                    </li>
                    <li class="footer-container-icons-item">
                        <span> <img src="../../../assets/icon/mail.svg" alt="location footer Dominican Republic"
                                class="container-info__icon">
                        </span>
                        <p class="info-icons__description">example@example.com</p>

                    </li>

                </ul>
<!-- 
                <div class="footer-container-socialMedia">
                    <img src="../../../assets/icon/instagram.svg" alt="facebook container icon" class="footer-container__social">
                    <img src="../../../assets/icon/facebook.svg" alt="facebook container icon" class="footer-container__social">
                    <img src="../../../assets/icon/mail.svg" alt="facebook container icon" class="footer-container__social">
                </div>
           -->
            </div>
        </div>
        <div class="footer-container-info">
            <h3 class="footer-container-info__title">Company</h3>
            <ul class="footer-container-info-list-items">
                <li class="list-item">About</li>
                <li class="list-item">Blog</li>
                <li class="list-item">All products</li>
                <li class="list-item">Locations Map</li>
                <li class="list-item">FAQ</li>
                <li class="list-item">Contact Us</li>
            </ul>
        </div>
        <div class="footer-container-info">
            <h3 class="footer-container-info__title">Services</h3>
            <ul class="footer-container-info-list-items">
                <li class="list-item">About</li>
                <li class="list-item">Blog</li>
                <li class="list-item">All products</li>
                <li class="list-item">Locations Map</li>
                <li class="list-item">FAQ</li>
                <li class="list-item">Contact Us</li>
            </ul>
        </div>
        <div class="footer-container-info">
            <h3 class="footer-container-info__title">Customer Care</h3>
            <ul class="footer-container-info-list-items">
                <li class="list-item">About</li>
                <li class="list-item">Blog</li>
                <li class="list-item">All products</li>
                <li class="list-item">Locations Map</li>
                <li class="list-item">FAQ</li>
                <li class="list-item">Contact Us</li>
            </ul>
        </div>
        <div class="footer-container-info">
            <h3 class="footer-container-info__title">Company</h3>
            <ul class="footer-container-info-list-items">
                <li class="list-item">About</li>
                <li class="list-item">Blog</li>
                <li class="list-item">All products</li>
                <li class="list-item">Locations Map</li>
                <li class="list-item">FAQ</li>
                <li class="list-item">Contact Us</li>
            </ul>
        </div>
    </div>

    <div class="footer-container-foot">
        <div class="footer-container-foot-box">

            <div class="footer-container-foot-copyright-box">
                <p class="footer-container__copyright">All rights reserved @ Company 2024</p>
            </div>

            <div class="footer-container-foot-terms-box">
                <p class="footer-container__terms">Temrs & conditions</p>
                <p class="footer-container__terms">Claim</p>
                <p class="footer-container__terms">Privat & Policy</p>
            </div>

        </div>
    </div>
</footer>