<footer class="footer-container">
    <div class="footer-container-head">
        <div class="footer-container-head-title-subtitle">
            <h2 class="footer-container-head__title">Looking for a dream home?</h2>
            <h4 class="footer-container-head__subtitle">We help you make the dream of new house a reality</h4>

        </div>

        <input class="footer-container-head__button" type="button" value="explore properties">
   
    </div>
    <div class="footer-container-body">
        <div class="footer-container-info"></div>
        <div class="footer-container-info"></div>
        <div class="footer-container-info"></div>
        <div class="footer-container-info"></div>
        <div class="footer-container-info"></div>

    </div>

    <div class="footer-container-foot">
        <div class="footer-container-foot-box"> 

            <div class="footer-container-foot-copyright-box">
                <p class="footer-container__copyright">All rights reserved @ Company 2024</p>
            </div>

            <div class="footer-container-foot-terms-box">
                <p class="footer-container__terms">Temrs & conditions</p>
                <p class="footer-container__terms">Claim</p>
                <p class="footer-container__terms">Privat & Policy</p>
            </div>

        </div>
    </div>
</footer>