<section class="about-container">

    <div class="about-container-header">
        <div class="about-container-header-box max-width-growth">
            <h2 class="about-container__title">About us</h2>
            <div class="about-container__direction">Home -> about us</div>
        </div>
    </div>

    <div class="about-content">

        <div class="about-container-body">
            <div class="about-container-body-left-box">
                <img class="body-left__image" src="../../assets/image.jpeg" alt="house about-us information" srcset="">
            </div>

            <div class="about-container-body-right-box">
                <h2 class="body-right__title">The leading Real Estate Rental Marketplace.</h2>
                <p class="body-right__description">Over 39,0009 people work for us in more than 70 countries all over
                    this
                    breath of global coverage, combined with specialist services</p>
                <div class="body-right-box-icons">
                    <div class="body-left">
                        <div class="body-right-box-icon">
                            <i>a</i>
                            <p class="body-right-box-icon__title">Smart Home Design</p>
                        </div>
                        <div class="body-right-box-icon">
                            <i>a</i>
                            <p class="body-right-box-icon__title">Smart Home Design</p>
                        </div>
                    </div>
                    <div class="body-right">

                        <div class="body-right-box-icon">
                            <i>a</i>
                            <p class="body-right-box-icon__title">Smart Home Design</p>
                        </div>
                        <div class="body-right-box-icon">
                            <i>a</i>
                            <p class="body-right-box-icon__title">Smart Home Design</p>
                        </div>
                    </div>
                </div>

                <div class="about-container-info-banner">

                </div>

                <input type="button" class="about-container-info__button" value="OUR SERVICES">
            </div>
        </div>
    </div>
</section>