<div class="container-searchProperty-box">
    <div class="container-searchProperty-filters">
        <p-dropdown [(ngModel)]="selectedCity" [options]="cities"  optionLabel="name" placeholder="City"></p-dropdown>
        <p-dropdown [(ngModel)]="selectedCity" [options]="cities"  optionLabel="name" placeholder="Property Status"></p-dropdown> 
        <p-dropdown [(ngModel)]="selectedCity" [options]="cities"  optionLabel="name" placeholder="Property Type"></p-dropdown>

        <!-- <select class="container-searchProperty-filters__area" name="property-area" id="area">
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
        </select>
        <select class="container-searchProperty-filters__status" name="property-status" id="status">
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
        </select>
        <select class="container-searchProperty-filters__propertyType" name="property-propertyType" id="type">
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
        </select> -->
    </div>

    <div class="container-searchProperty-action">
        <input class="container-searchProperty__find" type="button" value="FIND NOW">
    </div>
</div>