<h2 class="container-filter__title">Filter information</h2>
<section class="container-filter">
    <div class="container-filter-wrapper">
        <div class="container-filter-item">
            <h2 class="container-filter__title">Property Type</h2>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
        </div>
        <p-divider></p-divider>
        <div class="container-filter-item">
            <h2 class="container-filter__title">Property Type</h2>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
        </div>
             <div class="container-filter-item">
            <h2 class="container-filter__title">Property Type</h2>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
        </div>
        <p-divider></p-divider>
        <div class="container-filter-item">
            <h2 class="container-filter__title">Property Type</h2>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
            <div class="container-filter-options">
                <div class="container-filter-options-checkbox-box">

                    <input type="checkbox" name="house" id="">
                    <label for="hosue">House</label>
                </div>

                <p class="container-filter__count">3,203</p>
            </div>
        </div>
    </div>
</section>