<section class="categories-container">
    <div class="categories-container-box">
        <div class="categories-container-box-title">
            <p class="categories-container__subtitle">Property By</p>
            <p class="categories-container__title">Categories</p>
        </div>

        <div class="categories-container-box-gallery">
            <article *ngFor="let image of images" >
                <img [routerLink]="image.url" [src]="image.image" alt="apartments">

                <div class="card-gallery__apartments-overlay">
                    <p class="card-gallery__title">{{ image.title }}</p>
                    <p class="card-gallery__subtitle">{{ image.subtitle }}</p>
                    <p class="card-gallery__listing">{{ image.listing }}</p>
                </div>
            </article>
        </div>
    </div>
</section>