<section class="categories-container">
    <div class="categories-container-box">
        <div class="categories-container-box-title">
            <p class="categories-container__subtitle">Property</p>
            <p class="categories-container__title">Property By Categories</p>
        </div>

        <div class="categories-container-box-gallery">
            <article class="card-gallery__apartments">
                <img routerLink="/property" src="../../../assets/image.jpeg" alt="apartments">

                <div class="card-gallery__apartments-overlay">
                    <p class="card-gallery__title">apartments</p>
                    <p class="card-gallery__subtitle">Greag Deals Available</p>
                    <p class="card-gallery__listing">13 listing</p>
                </div>
            </article>
            <article class="card-gallery__condos">
                <img  routerLink="/property" src="../../../assets/gallery/hom4.jpg" alt="apartments">
                <div class="card-gallery__apartments-overlay">

                    <p class="card-gallery__title">Penthouse</p>
                    <p class="card-gallery__subtitle">Greag Deals Available</p>
                    <p class="card-gallery__listing">13 listing</p>
                </div>
            </article>
            <article class="card-gallery__houses">
                <img routerLink="/property" src="../../../assets/gallery/hom3.jpg" alt="apartments">
                <div class="card-gallery__apartments-overlay">

                    <p class="card-gallery__title">Villas</p>
                    <p class="card-gallery__subtitle">Greag Deals Available</p>
                    <p class="card-gallery__listing">13 listing</p>
                </div>

            </article>
            <article class="card-gallery__retail">
                <img routerLink="/property" src="../../../assets/gallery/home.jpg" alt="apartments">
                <div class="card-gallery__apartments-overlay">

                    <p class="card-gallery__title">Lands</p>
                    <p class="card-gallery__subtitle">Greag Deals Available</p>
                    <p class="card-gallery__listing">13 listing</p>
                </div>

            </article>
            <article class="card-gallery__villas">
                <img routerLink="/property" src="../../../assets/gallery/hom5.jpg" alt="apartments">
                <div class="card-gallery__apartments-overlay">

                    <p class="card-gallery__title">Mansion</p>
                    <p class="card-gallery__subtitle">Greag Deals Available</p>
                    <p class="card-gallery__listing">13 listing</p>
                </div>

            </article>
        </div>
    </div>
</section>