<div class="info-container">
  <div class="info-container-wrapper">
    <div class="info-container-left-box">
      <div class="info-container-left-box__web">
        <img
          src="./assets/icon/mail.svg"
          alt="mail real estate"
          class="left-box__web-icon"
        />
        <p class="left-box__web-title" >info@emialtrealestate.com</p>
      </div>
      <div class="info-container-left-box__address">
        <img
          src="./assets/icon/location.svg"
          alt="location real estate"
          class="left-box__address-icon"
        />
        <p class="left-box__address-title" >15/A, Nest Tower, RD</p>
      </div>
    </div>

    <div class="info-container-right-box">
      <div class="info-container-right-box__socialMediaLanguage">
        <select name="language" id="">
          <option value="spanish">spanish</option>
          <option value="English">English</option>
        </select>

        <div class="info-container-right-box__socialMedia">
          <a href="/">
            <img
            class="right-box__facebook"
              src="./assets/icon/facebook.svg"
              alt="mail real estate"
            />
          </a>
          <a href="/">
            <img
             class="right-box__instagram"
              src="./assets/icon/instagram.svg"
              alt="mail real estate"
            />
          </a>
    
        </div>
      </div>
    </div>
  </div>
</div>
