// styles/variables.scss
$primary-color: #96031A;
$primary-color-pressed:#740414;
$secondary-color: #272727;
$text-color: #ffffff;
 $background-color: #D4AA7D;
// $secondary-color: #787878;
$detail-color: #C0C0C0;
$animation-time: .3s;

$font-family-title: 'Barlow Condensed', sans-serif;
$font-family-subtitle:'Montserrat', sans-serif;
$font-size-title:48px;
$font-size-subtitle:24px;
$font-size-parragraph:16px;
$font-size-sub-parragraph:12px;

