// styles/variables.scss
$primary-color: #b3001b;
$primary-color-pressed:#740414;
$secondary-color: #272727;
$text-color: #ffffff;
 $background-color: #D4AA7D;
// $secondary-color: #787878;
$detail-color: #F2F6F7;
$animation-time: .3s;

$font-family-title: 'Barlow Condensed', sans-serif;
$font-family-subtitle:'Montserrat', sans-serif;
$font-size-bigtitle:72px;
$font-size-title:52px;
$font-size-subtitle:24px;
$font-size-parragraph:16px;
$font-size-sub-parragraph:12px;

$padding-section:120px;

