<h2 class="container-filter__title-box">Filter information</h2>
<section class="container-filter">
  <div class="container-filter-wrapper">
    <div class="container-filter-item">
      <h2 class="container-filter__title">Property Type</h2>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="container-filter-item">
      <h2 class="container-filter__title">Amenities</h2>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
    </div>
    <p-divider></p-divider>

    <div class="container-filter-item">
      <h2 class="container-filter__title">Price Range</h2>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">Low</label>
        </div>

        <p class="container-filter__count">$5,000 - $10,000</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">Medium</label>
        </div>

        <p class="container-filter__count">$10,000 - $30,000</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">High Budget</label>
        </div>

        <p class="container-filter__count">$30,000 Up</p>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="container-filter-item">
      <h2 class="container-filter__title">Filter by price</h2>
      <div class="container-filter-options=slider">
        <p-slider [(ngModel)]="rangeValues" [step]="1000" [range]="true"></p-slider>
    </div>
    </div>
    <p-divider></p-divider>
    <div class="container-filter-item">
      <h2 class="container-filter__title">Property Type</h2>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
      <div class="container-filter-options">
        <div class="container-filter-options-checkbox-box">
          <input type="checkbox" name="house" id="" />
          <label for="hosue">House</label>
        </div>

        <p class="container-filter__count">3,203</p>
      </div>
    </div>
  </div>
</section>
