<section class="focus-container">
    <div class="focus-box max-width-growth">


    <div class="focus-container-title-box">
        <h4 class="focus-container__subtitle">Our Services</h4>
        <h2 class="focus-container__titler">Our Main Focus</h2>
    </div>

    <div class="focus-container-card-wrapper">
        <article class="focus-card">
            <header class="focus-card-header">
                <div class="card-header__icon"><img src="/assets/icon/truck-fast-solid.svg" alt="" srcset=""></div>
            </header>

            <body class="focus-card-body">
                <h2 class="focus-card__title">Buy a Home</h2>
                <p class="focus-card__description">Over 1 million +homes for sale aavaibale on the website we can match
                    you with a hose you will wnat to call home.</p>
            </body>

            <footer class="focus-card-footer">
                    <a href="https://www.google.com" class="focus-card__link">Find A Home -></a>
            </footer>
        </article>
        <article class="focus-card">
            <header class="focus-card-header">
                <div class="card-header__icon"><img src="/assets/icon/truck-moving-solid.svg" alt="" srcset=""></div>
            </header>

            <body class="focus-card-body">
                <h2 class="focus-card__title">Sell a home</h2>
                <p class="focus-card__description">Over 1 million +homes for sale aavaibale on the website we can match
                    you with a hose you will wnat to call home.</p>
            </body>

            <footer class="focus-card-footer">
                    <a href="https://www.google.com" class="focus-card__link">Find A Home -></a>
            </footer>
        </article>
        <article class="focus-card">
            <header class="focus-card-header">
                <div class="card-header__icon"><img src="/assets/icon/money-bills-solid.svg" alt="" srcset=""></div>
            </header>

            <body class="focus-card-body">
                <h2 class="focus-card__title">Rent a home</h2>
                <p class="focus-card__description">Over 1 million +homes for sale aavaibale on the website we can match
                    you with a hose you will wnat to call home.</p>
            </body>

            <footer class="focus-card-footer">
                    <a href="https://www.google.com" class="focus-card__link">Find A Home -></a>
            </footer>
        </article>
    </div>
</div>
</section>