<section class="video-banner-container">

    <div class="video-banner-container-box">
        <div class="video-banner-container-box__video">

        </div>
    </div>

    <div class="video-banner-container-image-info">

        <div class="video-banner-container-image-logo-box">
            <img  src="./assets/duragas.png" alt="duragas banner image" class="video-banner-container__logo">
            <img src="./assets/duragas.png" alt="duragas banner image" class="video-banner-container__logo">
            <img src="./assets/duragas.png" alt="duragas banner image" class="video-banner-container__logo">
            <img src="./assets/duragas.png" alt="duragas banner image" class="video-banner-container__logo">
            <img src="./assets/duragas.png" alt="duragas banner image" class="video-banner-container__logo">
            
        </div>
        
    </div>
</section>