<section class="features-container">
    <div class="features-container-title-cards-box">

        <div class="features-container-title-box">
            <h4 class="features-container__subtitle">Features</h4>
            <h1 class="features-container__title">Core Features</h1>
        </div>


        <div class="features-container-cards-box">

            <article class="features-card">
                <img class="features-card__icon">
                <h5 class="features-card__title">Smart Living</h5>
                <p class="features-card__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
                    optio delectus velit deserunt odit quam autem repellat nam iure ad ea, officiis eligendi
                    </p>
            </article>
            <article class="features-card">
                <img class="features-card__icon">
                <h5 class="features-card__title">Smart Living</h5>
                <p class="features-card__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
                    optio delectus velit deserunt odit quam autem repellat nam iure ad ea, officiis eligendi
                    </p>
            </article>
            <article class="features-card">
                <img class="features-card__icon">
                <h5 class="features-card__title">Smart Living</h5>
                <p class="features-card__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
                    optio delectus velit deserunt odit quam autem repellat nam iure ad ea, officiis eligendi
                    </p>
            </article>
            <article class="features-card">
                <img class="features-card__icon">
                <h5 class="features-card__title">Smart Living</h5>
                <p class="features-card__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
                    optio delectus velit deserunt odit quam autem repellat nam iure ad ea, officiis eligendi
                    </p>
            </article>
        </div>


    </div>

</section>