@import "/src/styles/variables.scss";

.features-container {
  background-color : white;
  padding-bottom: $padding-section;
  .features-container-title-cards-box {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

.features-container-title-box {
  
  .features-container__subtitle,
  .features-container__title {
    color: black;

    font-family: $font-family-title;

    text-align: center;
  }
  .features-container__title {
    font-size: $font-size-title;
    margin: 0px;
  }
  .features-container__subtitle {
    margin: 0px;
    font-size: $font-size-subtitle;
    font-weight: 400;
    color:gray;
  }

}

.features-container-cards-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 25px;
}

.features-card {
  width: calc(1160px / 4);
  border: 1px solid rgba(0, 0, 0, 0.059);
  padding: 20px;
  transition: all $animation-time ease-in-out;
  font-family: $font-family-subtitle;
  border-bottom: 5px solid transparent;
  color: black;
  .features-card__icon {
    width: 80px;
    height: 80px;
  }
  .features-card__title{
    margin: 0px;
    margin-top: 35px;
    font-size: $font-size-subtitle;
    transition: all $animation-time ease-in-out;

  }
  .features-card__description{
    line-height: 2;
  }
}

.features-card:hover{
  box-shadow: 24px 24px 66px #e8e8e8,
  -24px -24px 66px #ffffff;
  border-bottom: 5px solid $primary-color;
}

.features-card__title:hover{
  color:$primary-color;
}
