<section class="about-container">
    <div class="about-container-header">
      <div class="about-container-header-box max-width-growth">
        <h2 class="about-container__title">FAQ</h2>
        <div class="about-container__direction">Home -> FAQ</div>
      </div>
    </div>

    <div class="faq-details-container max-width-growth">
        <h2>Accordion using details</h2>
        <details >
            <summary>Who is Eamonn?</summary>
            A guy from TN who makes content on the internet.
        </details>
        <details>
            <summary>What kind of content does he make?</summary>
            He focuses on productivity tips using coding and spreadsheets. He makes <a href="https://youtube.com/@eamonncottrell">YouTube</a> videos and writes articles on freeCodeCamp, <a href="https://www.linkedin.com/in/eamonncottrell/">LinkedIn</a> and his <a href="https://got-sheet.beehiiv.com/">personal newsletter</a>.
        </details>
        <details>
            <summary>What does he do for fun?</summary>
            Hangs out with his wife and four kids, and runs ultramarathons.
        </details>
    </div>
        
</section>  