<section class="about-container">

    <div class="about-container-header">
        <div class="about-container-header-box max-width-growth">
            <h2 class="about-container__title">About us</h2>
            <div class="about-container__direction"><span><img class="about-container__direction-home" src="../../../assets/icon/house-solid.svg" alt="house icon" srcset=""></span>Home -> about us</div>
        </div>
    </div>

    <app-about-business></app-about-business>

    <app-about-focus></app-about-focus>

    <app-about-agents></app-about-agents>
</section>