<section class="about-container">

  <div class="about-container-header">
      <div class="about-container-header-box max-width-growth">
          <h2 class="about-container__title">Contact Me</h2>
          <div class="about-container__direction"><span><img class="about-container__direction-home" src="./assets/icon/house-solid.svg" alt="house icon" srcset=""></span>Home -> Details Agent</div>
      </div>
  </div>


  <div class="contact-me-container">
    <div class="contact-me-container-box">
      <article class="contact-me-item">
        <header class="contact-me-item-header">
          <img class="header__img" src="" alt="" srcset="" />
          <h2 class="header__title">Email Address</h2>
        </header>
        <body class="contact-me-item-body">
          <p class="contact-me-item-body__description">info@webmail.com</p>
          <p class="contact-me-item-body__description">info@webmail.com</p>
        </body>
      </article>
      <article class="contact-me-item">
        <header class="contact-me-item-header">
          <img class="header__img" src="" alt="" srcset="" />
          <h2 class="header__title">Email Address</h2>
        </header>
        <body class="contact-me-item-body">
          <p class="contact-me-item-body__description">info@webmail.com</p>
          <p class="contact-me-item-body__description">info@webmail.com</p>
        </body>
      </article>
      <article class="contact-me-item">
        <header class="contact-me-item-header">
          <img class="header__img" src="" alt="" srcset="" />
          <h2 class="header__title">Email Address</h2>
        </header>
        <body class="contact-me-item-body">
          <p class="contact-me-item-body__description">info@webmail.com</p>
          <p class="contact-me-item-body__description">info@webmail.com</p>
        </body>
      </article>
    </div>
  </div>

  <div class="form-container max-width-growth">
    <div class="form-container-title-box">
      <h2 class="form-container__title">Contact for any inquiry</h2>
    </div>
    <form action="POST" class="form-contact">
      <input
        type="text"
        class="form-contact__name"
        placeholder="Enter your name"
      />
      <input
        type="email"
        class="form-contact__email"
        placeholder="Enter your email"
      />
      <input
        type="text"
        class="form-contact__service"
        placeholder="Selet service type"
      />
      <input
        type="number"
        class="form-contact__phone"
        placeholder="Enter your phone number"
      />
      <textarea
        placeholder="Enter message"
        class="form-contact__message"
      ></textarea>

      <input type="button" value="GET AN FREE SERVICE" />
    </form>
  </div>
</section>
