.navbar-container{ 
    margin: 0px;
    height: 100px;
}

.navbar-container-box{
    display: flex;
    margin:auto;
    height: 100%;
    max-width: 1220px;
    justify-content:space-between;
    align-items: center;
}

.navbar-container-logo{
    width: 120px;
    height: 50px;
}

.nav-container-elements-box{
    display: flex;
    justify-content: space-between;

}

.nav-container-elements{
    display: flex;
    gap: 45px;
}

.nav-container-elements__addListing{
    margin-left: 35px;
    width: 155px;
}
a{
    text-decoration: none;

}
a:visited{
    color: none;
}
p-button{
    display: none;
}


@media only screen and (max-width:768px) {
    .nav-container-elements-box{
        display: none;
    }
    p-button{
        display: block;
    }
    
}


