@import '/src/styles/variables.scss';

.details-content-container * p {
    font-family: $font-family-subtitle;
}

.details-content-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-cointainer-header{
    display: flex;
    flex-direction: column;
}
.content-container-header-top {
    display: flex;
    gap: 35px;

    .header-top__type,
    .header-top__status {
        color: $text-color;
        font-size: $font-size-sub-parragraph ;
        padding: 15px;
    }


    .header-top__date,
    .header-top__comments {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: calc($font-size-sub-parragraph - 1px);
        font-weight: 600;
        color: gray;
    }

    .header-top__dateImage {
        width: 20px;
        height: 20px;
    }

    .header-top__type {
        background-color: $primary-color;
    }

    .header-top__status {
        background-color: $background-color;
    }
}

.content-container-header-sub-top {
    .header-sub-top__title {
        margin: 30px 0 30px 0;
        font-family: $font-family-title;
        font-size: $font-size-title;
    }

    .header-sub-top__subtitle {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: calc($font-size-sub-parragraph - 1px);
        font-weight: 600;
        color: gray;
    }

    .header-sub-top__location {
        width: 20px;
        height: 20px;
    }
}


.content-container-body,.content-container-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .body__title, .footer__title {
        border-left: 3px solid $primary-color;
        padding-left: 10px;
        font-family: $font-family-title;
        font-size: $font-size-subtitle;
        font-weight: 500;
        margin: 30px 0 30px 0;
    }

    .body__description {
        line-height: 2;
    }

    .body__gallery {
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        grid-template-rows: repeat(1fr, 3);
        gap: 25px;

        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img:nth-child(1) {
            grid-column: 2/2;
            grid-row: 1/3;
        }
    }
}

.property-details-container {
    display: flex;
    justify-content: start;
    background-color: $detail-color;
    padding: 40px;

}

.property-details-table {
    border-collapse: collapse;

    td {
        padding: 1rem;
        text-align: left;
        font-family: $font-family-subtitle;
    }
}

.details-table__title {
    font-weight: 400;
}

.details-table__subtitle {
    font-weight: 500;

}





.amenities-container {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    max-width: 100%; 
   
}

.amenities-column {
    flex: 0 0 100%;
    max-width: 20%; 
    padding: 0 10px;

}

.amenity-item {
    display: flex;
    align-items: center;
    font-family: $font-family-subtitle;
    font-weight: 500;
    margin-bottom: 25px;
    img {   
        color: red;
        margin-right: 15px;
        width: 25px;

    }
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    height: 400px !important;
}



@media only screen and (max-width:768px) {
    .property-details-container {
        flex-direction: column;
        padding: 10px;
    }

    .amenities-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .amenities-container{
        gap: 15px;
    }
}