<section class="details-content-container">
    <header class="content-container-header">
        <div class="content-container-header-top">
            <p class="header-top__type">FEATURED</p>
            <p class="header-top__status">FOR RENT</p>
            <p class="header-top__date"><span><img src="./assets/image.jpeg" alt="calendar" srcset=""
                        class="header-top__dateImage"></span>May 19, 2021</p>
            <p class="header-top__comments"><span><img src="./assets/image.jpeg" alt="calendar" srcset=""
                        class="header-top__dateImage"></span>35 Comments</p>

        </div>

        <div class="content-container-header-sub-top">
            <h2 class="header-sub-top__title">Diamond Manor Apartment</h2>
            <p class="header-sub-top__subtitle"><span><img src="./assets/image.jpeg" alt="location"
                        class="header-sub-top__location"></span>Belmont Gardens, Chicago</p>
        </div>

    </header>

    <body class="content-container-body">
        <div class="content-container-body-description">
            <h3 class="body__title">Description</h3>
            <p class="body__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, itaque enim
                numquam asperiores facilis libero ipsum perferendis iste? Velit soluta repellat sint doloremque quos
                excepturi aut veritatis fuga. Officia, voluptatum eius quaerat recusandae ratione deleniti repellat
                aspernatur hic quisquam error facere labore quis quasi dolore quibusdam explicabo. Obcaecati
                consequuntur rem libero qui iusto delectus. Repudiandae ea minus laboriosam facilis quasi id impedit
                quis doloremque molestiae eaque laudantium eligendi eum qui, dolores debitis temporibus tempora!
                Repellat, iusto nisi. Quaerat cumque distinctio, placeat quasi perspiciatis dicta dolorum officiis
                asperiores officia eos! Ullam quod at rerum voluptatibus iure ratione beatae adipisci, laudantium sit.
                <br><br>
                To the left is the modern kitchen with central island, leading through to the unique breakfast family
                room which feature glass walls and doors out onto the garden and access to the separate utility room.
            </p>
        </div>
        <div class="content-container-body-description">
            <h3 class="body__title">Property Detail</h3>
            <div class="property-details-container">
                <table class="property-details-table">
                    <tr *ngFor="let key of objectKeys(detailsColumnOne)">
                        <td class="details-table__title">{{ key }}:</td>
                        <td  class="details-table__subtitle">{{ detailsColumnOne[key] }}</td>
                    </tr>
                </table>
                <p-divider [layout]="layout"></p-divider>
                <table class="property-details-table">
                    <tr *ngFor="let key of objectKeys(detailsColumnTwo)">
                        <td  class="details-table__title">{{ key }}:</td>
                        <td  class="details-table__subtitle">{{ detailsColumnTwo[key] }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="content-container-body-description">
            <h3 class="body__title">From Our Gallery</h3>
            <div class="body__gallery">
                    <img src="./assets/image.jpeg" alt="">      
                    <img src="./assets/image.jpeg" alt="">      
                    <img src="./assets/image.jpeg" alt="">      
            </div>
        </div>


        <div class="content-container-body-description">
            <h3 class="body__title">Amenities</h3>
            <div class="amenities-container">
                <div *ngFor="let column of getAmenitiesColumns(amenities[0].amenities)" class="amenities-column">
                  <div *ngFor="let amenity of column" class="amenity-item">
                    <img src="./assets/icon/square-check-solid.svg" alt="" srcset=""> {{ amenity }}
                  </div>
                </div>
              </div>
              
        </div>
    </body>
    <footer class="content-container-footer">

    </footer>
</section>