<article [routerLink]="'/property-details/'+PropertyList.id" class="list-item">
    <div class="list-item-left">
        <img [src]="PropertyList.header.image" alt="house property sale real estate"
            class="list-item-left__property">
    </div>

    <div class="list-item-right">
        <header class="list-item-right-header">
            <p class="header__title">{{PropertyList.header.title}}</p>
            <p class="header__price">{{PropertyList.header.price}} <span>{{PropertyList.header.priceRate}}</span></p>
        </header>
        <body class="list-item-right-body">
            <p class="body__title">{{PropertyList.body.title}}</p>
            <p class="body__address">{{PropertyList.body.address}}</p>
            <p class="body__details">{{PropertyList.body.details}}</p>
        </body>
        <footer class="list-item-right-footer">
            <div class="footer-agent-box">
                <img [src]="PropertyList.footer.autor"
                    alt="autor agent sale person salesperson" class="footer__profile">
                    <div class="footer-agent-information">
                        <p class="footer-agent-information__name">{{PropertyList.footer.agentName}}</p>
                        <p class="footer-agent-information__ocupation">{{PropertyList.footer.agentOcupation}}</p>
                    </div>    
                </div>
                <div class="footer-agent__button"></div>
        </footer>

    </div>
</article>
