<article class="list-item">
    <div class="list-item-left">
        <img src="/assets/house.jpg" alt="house property sale real estate"
            class="list-item-left__property">
    </div>

    <div class="list-item-right">
        <header class="list-item-right-header">
            <p class="header__title">FOR RENT</p>
            <p class="header__price">$34,900 <span>/Month</span></p>
        </header>

        <body class="list-item-right-body">
            <p class="body__title">New Apartment Nice View</p>
            <p class="body__address">Belmont Gardens, Chicago</p>
            <p class="body__details">3 Bed &nbsp; 2 Bath &nbsp; 3450 Square Ft</p>
        </body>
        <footer class="list-item-right-footer">
            <div class="footer-agent-box">
                <img src="/assets/author.jpg"
                    alt="autor agent sale person salesperson" class="footer__profile">
                    <div class="footer-agent-information">
                        <p class="footer-agent-information__name">William Seklo</p>
                        <p class="footer-agent-information__ocupation">Estate Agents</p>
                    </div>    
                </div>

                <div class="footer-agent__button"></div>
        </footer>

    </div>
</article>
