<section class="categories-location-container">
    <div class="categories-location-container-title-cards-box">

        <div class="categories-location-container-title-box">
            <h4 class="categories-location-container__subtitle">Property</h4>
            <h1 class="categories-location-container__title">Property By Location</h1>
        </div>

        <div class="categories-location-container-box">
            <div class="location-sosua-left-box">
                <h3 class="location-sosua-left-box-title">Sosua</h3>
            </div>
            <div class="location-sosua-right-box"></div>
        </div>
    </div>
</section>