<section class="categories-location-container">
    <div class="categories-location-container-title-cards-box">

        <div class="categories-location-container-title-box">
            <h4 class="categories-location-container__subtitle">Property By</h4>
            <h1 class="categories-location-container__title">Location</h1>
        </div>

        <div class="categories-location-container-box" [style.flexFlow] = "'row'">
            <div class="location-sosua-left-box">
                <h3 class="location-sosua-left-box__title"><span>S</span>osua</h3>

                <ul class="location-sosua-left-box__list">
                    <li class="location-sosua-left-box__item">Lorem ipsum dolor sit.</li>
                    <li class="location-sosua-left-box__item">Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, accusantium!</li>
                    <li class="location-sosua-left-box__item">Lorem ipsum dolor sit. dolor sit amet.</li>
                    <li class="location-sosua-left-box__item">Lorem ipsum dolor sit.</li>
                    <li class="location-sosua-left-box__item">Lorem ipsum dolor sit.</li>
                </ul>
            </div>
            <div class="location-sosua-right-box">
                
                 <ul class="list">
                    <li *ngFor="let slide of slides" class="slide" appParallax routerLink="/property" >
                        <div class="background" [style.backgroundImage]="'url('+ slide.url + ')'">
                        </div>
                    </li>
                </ul> 
            
            
            </div>
        </div>
    </div>
</section>