<section class="agent-container">
    <div class="agent-container-box max-width-growth">
        <div class="container-box-left">
            <img src="/assets/person.jpg" alt="person agent real estate" class="container-box-left__profile">
            <h2 class="container-box-left__title">Rosalina D. William</h2>
            <h4 class="container-box-left__subtitle">PROPERTY SELLER</h4>

            <div class="container-box-left-socialMedia">
                <!-- TODO:REDESSOCIALES-AGREGAR-ICONOS -->
                <!-- <img src="" alt="facebook instagram twitter" class="left-socialMedia__facebook">
                <img src="" alt="facebook instagram twitter" class="left-socialMedia__facebook">
                <img src="" alt="facebook instagram twitter" class="left-socialMedia__facebook"> -->
            </div>
        </div>

        <div class="container-box-right">
            <p class="container-box-right__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                quasi architecto beatae vitae dicta sunt explicabo.
                <br><br>
                Nemo enim ipsam voluptatem quia voluptas sit
                aspernatur aut odit aut fugit, sed quia consequu ntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.


            </p>
            <br>
                <p-divider></p-divider>
            <br>
                <app-agent-details-content-form></app-agent-details-content-form>            
        </div>


    </div>
</section>