<section class="feedback-container">

    <div class="feedback-container-box">
        <div class="feedback-container-title-buttons-box">
            <div class="feedback-container-title-box">
                <h4 class="feedback-container__subtitle">Testimonials</h4>
                <h1 class="feedback-container__title">Clients Feedbacks</h1>
            </div>

            <div class="feedback-container-buttons-box">
                
            </div>
        </div>

        <div class="feedback-container-card-box">
            <article class="feedback-card">
                <header class="feedback-card-header">
                    <img src="../../../assets/image.jpeg" alt="card house" srcset="">

                </header>

                <footer class="feedback-card-footer">
                    <p class="feedback-card-footer__description">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Temporibus saepe quo reprehenderit consequatur</p>

                    <div class="feedback-card-footer-user">
                        <img src="../../../assets/image.jpeg" alt="image" srcset="">

                        <div class="feedback-card-footer-user-info">
                            <p class="feedback-card-footer-user-info__name">Liam mason</p>
                            <P class="feedback-card-footer-user-info__job">Officer</P>
                        </div>
                    </div>
                </footer>
            </article>
            <article class="feedback-card">
                <header class="feedback-card-header">
                    <img src="../../../assets/image.jpeg" alt="card house" srcset="">

                </header>

                <footer class="feedback-card-footer">
                    <p class="feedback-card-footer__description">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Temporibus saepe quo reprehenderit consequatur</p>

                    <div class="feedback-card-footer-user">
                        <img src="../../../assets/image.jpeg" alt="image" srcset="">

                        <div class="feedback-card-footer-user-info">
                            <p class="feedback-card-footer-user-info__name">Liam mason</p>
                            <P class="feedback-card-footer-user-info__job">Officer</P>
                        </div>
                    </div>
                </footer>
            </article>
            <article class="feedback-card">
                <header class="feedback-card-header">
                    <img src="../../../assets/image.jpeg" alt="card house" srcset="">

                </header>

                <footer class="feedback-card-footer">
                    <p class="feedback-card-footer__description">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Temporibus saepe quo reprehenderit consequatur</p>

                    <div class="feedback-card-footer-user">
                        <img src="../../../assets/image.jpeg" alt="image" srcset="">

                        <div class="feedback-card-footer-user-info">
                            <p class="feedback-card-footer-user-info__name">Liam mason</p>
                            <P class="feedback-card-footer-user-info__job">Officer</P>
                        </div>
                    </div>
                </footer>
            </article>
        </div>

    </div>

</section>