.feedback-container {
    background-color: white;
    margin-top: 70px;

    .feedback-container-box {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 1220px;

    }
}

.feedback-container-card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

}

.feedback-card {
    width: 390px;
    height: 400px;
    position: relative;


    .feedback-card-header {
        width: inherit;
        position: relative;

        img {
            width: 390px;
        }
    }

    .feedback-card-footer {
        background-color: rgb(167, 166, 166);
        width: 350px;
        position: absolute;
        left: 5%;
        top: 35%;
        padding: 15px;

        .feedback-card-footer__description {
            line-height: 25px;
            background-color: aqua;
        }
    }
}

.feedback-card-footer-user {
    display: flex;
    margin-top: 30px;

    img {
        width: 70px;
        height: 70px;
    }

}

.feedback-card-footer-user-info {
    margin-left: 20px;
}

.feedback-card-footer-user-info__name {
    margin: 0px;
}