<div class="container-searchProperty-box">
    <div class="container-searchProperty-filters">
        <select class="container-searchProperty-filters__area" name="property-area" id="area">
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
        </select>
        <select class="container-searchProperty-filters__status" name="property-status" id="status">
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
        </select>
        <select class="container-searchProperty-filters__propertyType" name="property-propertyType" id="type">
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
            <option value="400m2">400m2</option>
        </select>
    </div>

    <div class="container-searchProperty-action">
        <input type="button" value="FIND NOW">
    </div>
</div>