<section class="about-agents-container">
    <div class="about-agents-box max-width-growth">
        <div class="about-agents-box-header">
            <h5 class="agents-about__subtitle">Team</h5>
            <h2 class="agents-about__title">Property Agents</h2>
        </div>
        <div class="about-agents-box-body">
            <article class="agents-card">
                <header class="agents-card-header"><img src="../../../../assets/gallery/agent1.jpg" alt="" class="card-header__picture"></header>
                <body class="agents-card-body">
                    <h6 class="agents-card-title">Rosalina D. William</h6>
                    <p class="agents-card-description">Real Estate Broker</p>                    
                </body>
                <footer class="agents-card-footer">
                    <img src="../../../../assets/icon/facebook-f.svg" alt=""class="card-footer__facebook">
                    <img src="../../../../assets/icon/x-twitter.svg" alt=""class="card-footer__facebook">
                    <img src="../../../../assets/icon/linkedin.svg" alt=""class="card-footer__facebook">

                </footer>
            </article>
            <article class="agents-card">
                <header class="agents-card-header"><img src="../../../../assets/gallery/agent2.jpg" alt="" class="card-header__picture"></header>
                <body class="agents-card-body">
                    <h6 class="agents-card-title">Rosalina D. William</h6>
                    <p class="agents-card-description">Real Estate Broker</p>                    
                </body>
                <footer class="agents-card-footer">
                    <img src="../../../../assets/icon/facebook-f.svg" alt=""class="card-footer__facebook">
                    <img src="../../../../assets/icon/x-twitter.svg" alt=""class="card-footer__facebook">
                    <img src="../../../../assets/icon/linkedin.svg" alt=""class="card-footer__facebook">
              

                </footer>
            </article>
            <article class="agents-card">
                <header class="agents-card-header"><img src="../../../../assets/gallery/agent4.jpg" alt="" class="card-header__picture"></header>
                <body class="agents-card-body">
                    <h6 class="agents-card-title">Rosalina D. William</h6>
                    <p class="agents-card-description">Real Estate Broker</p>                    
                </body>
                <footer class="agents-card-footer">
                    <img src="../../../../assets/icon/facebook-f.svg" alt=""class="card-footer__facebook">
                    <img src="../../../../assets/icon/x-twitter.svg" alt=""class="card-footer__facebook">
                    <img src="../../../../assets/icon/linkedin.svg" alt=""class="card-footer__facebook">

                </footer>
            </article>
        </div>
    </div>
</section>