<section class="banner-container">

    <img src="../../../assets/house.png" alt="house sale banner" class="banner-container__left">

    <div class="banner-container-box">
        <h4 class="banner-container-box__subtitle">Any Question you have</h4>
        <h2 class="banner-container-box__title">809-203-2032</h2>
        <div class="banner-container-box-buttons">
            <input type="button" class="buttons__call" value="MAKE A CALL">
            <input type="button" class="buttons__contactus" value="CONTACT US">
        </div>
    </div>


    <img src="../../../assets/salesperson.png" alt="person sale banner" class="banner-container__right">
</section>