<div class="info-container">
    <div class="info-container-wrapper">

        <div class="info-container-left-box">
            <div class="info-container-left-box__web">
                <i>a</i>
                <p>info@webmail.com</p>
            </div>
            <div class="info-container-left-box__address">
                <i>a</i>
                <p>info@webmail.com</p>
            </div>
        </div>

        <div class="info-container-right-box">
            <div class="info-container-right-box__socialMediaLanguage">
                <select name="language" id="">
                    <option value="spanish"> spanish </option>
                    <option value="English"> English </option>
                </select>

                <div class="info-container-right-box__socialMedia">
                    <a href="/">F</a>
                    <a href="/">t</a>
                    <a href="/">i</a>
                    <a href="/">b</a>
                </div>
            </div>
        </div>
    </div>
</div>