.max-width-growth {
    max-width: 1220px;
    margin: auto;
}
.about-agents-container{
    background-color: white;
    margin-top: 70px;
    margin-bottom: 70px;
}

.about-agents-box{
    display: flex;
    justify-content: center;
    text-align: center;
}